################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
*.vsidx
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
