################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
*.vsidx
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
*.bin
*.bin
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
/.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
/.vs/EntityFrameworkCoreMultiTenancy/FileContentIndex/15d964ed-b4af-4df9-bc2e-14f99c9608a8.vsidx
/.vs/ProjectEvaluation/entityframeworkcoremultitenancy.metadata.v7.bin
/.vs/ProjectEvaluation/entityframeworkcoremultitenancy.projects.v7.bin
*.vsidx
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
*.bin
.vs/EntityFrameworkCoreMultiTenancy/FileContentIndex/15d964ed-b4af-4df9-bc2e-14f99c9608a8.vsidx
.vs/EntityFrameworkCoreMultiTenancy/FileContentIndex/37dd1f68-553d-403a-b48b-553ff11f5bfe.vsidx
.vs/EntityFrameworkCoreMultiTenancy/FileContentIndex/6c2dc664-5177-4a93-bc59-95f09a96cdce.vsidx
.vs/EntityFrameworkCoreMultiTenancy/FileContentIndex/a481865f-80bd-43e5-bd80-67681d3d504f.vsidx
.vs/EntityFrameworkCoreMultiTenancy/FileContentIndex/db573277-3b2d-4888-8c46-a4d32d924f50.vsidx
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
.vs/ProjectEvaluation/entityframeworkcoremultitenancy.metadata.v7.bin
.vs/ProjectEvaluation/entityframeworkcoremultitenancy.projects.v7.bin
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
obj/EntityFrameworkCoreMultiTenancy.csproj.nuget.dgspec.json
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
obj/project.assets.json
obj/project.nuget.cache
obj/project.assets.json
obj/project.nuget.cache
.vs/EntityFrameworkCoreMultiTenancy/v17/.suo
